[submodule "_vim"]
	path = _vim
	url = git@github.com:junchih/_vim.git
[submodule "myos"]
	path = myos
	url = git@github.com:junchih/my-nixos.git
[submodule "mypkgs"]
	path = mypkgs
	url = git@github.com:junchih/my-nixpkgs.git
